.nav {
    background-color: #1982e4;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    border-radius: 27px;
    list-style: none;
    overflow: hidden;
    text-decoration: none;
    font-weight: bold;
}

.nav a {
    color: #eee;
    background-color: #006eff;
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
    font-weight: bold;
}

.nav-fill .nav-item, .nav-fill>.nav-link {
    flex: 1 1 auto;
    text-align: center;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #0d6efd;
}

.nav-pills .nav-link {
    background: 0 0;
    border: 0;
    border-radius: 0.25rem;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
